* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #fff;
}

/* UTILITIES ----------------------------------------------*/

/* FLEX ---------------------------------------------------*/
/* FLEX PARENT */
.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* FLEX CHILDREN ------------------------------------------*/

.grow-0 {
    flex-grow: 0;
}



/* MAIN [FLEX-BOX] ========================================*/

.main-container {
    height: calc(100vh - 100px);
}


/* SIDE BAR [FLEX-PARENT-ITEM] ----------------------------*/

.sidebar {
    background-color: #000;
    flex-basis: 250px;
}

/* LOGO */
.sidebar .logo {
    width: 150px;
    height: 100px;
}

.sidebar img {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
}


/* SIDEBAR  IN-CONTAINER */

.sidebar-in-container {
    height: 90%;
}

/* TOP COLUMN */

.sidebar-top-item {
    height: calc(100% - 10%)
}


/* BOTTOM COLUMN */

.sidebar-bottom-item {
    height: 10%;
}







/* MAIN CONTENT [FLEX-PARENT-ITEM] ------------------------*/

.main-content {
    background-color: #141922;
    flex-basis: 100%;
}

/* TOP BAR */
.top-bar {
    background-color: #080b12;
    height: 100px;

}

.btn-upgrade {
    text-align: right;
}










/* FOOTER =================================================*/

footer {
    background-color: #282828;
    height: 100px;
    
}